/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2015, 9:05:20 PM
    Author     : vibol
*/

tr td {
    padding-right: 10px;
}

//setting all the droppable and draggable
[id^=droppable] { width: 65px; height: 65px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
[id^=draggable] { width: 55px; height: 55px; padding: 0.5em; float: left; margin: 10px; }


// I took this code from Ramon, and modified it a little bit
.piece{    
    /* Set the background image to wood grain, or color if picture isn't loaded */
	background-color: #debd92;
	background-image: url(../tiles/piece.jpg);
	background-size: cover;		/* Set background image to cover entire div */
	
	/* color of text */
	color: #000000;	
}

// position the information container in the center
.center{
    position: absolute;
    margin:auto;
    width: 100%;
}

//set the image of the triple tiles to their appropriate images
.tripleTile{
    background-image: url(../tiles/triple.PNG);
    background-size: 100%;
}
//same logic as above
.doubleTile{
    background-image: url(../tiles/double.PNG);
    background-size: 100%;
}
//same logic as above
.normalTile{
    background-image: url(../tiles/gray.PNG);
    background-size: 100%;
}

